.progress-meter {
  transition: $progress-meter-animation;
}

// Correct Zurb styling bug that overlooked displaying low percentage text
.progress-meter-text {
  transform: translate(-20%, -50%); 
  margin-left: 5px;
  z-index: 1; 
}