.dropdown-pane.has-position-bottom {
  margin-top: -15px;
}

.button.dropup::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 0.4em;
  content: '';
  border-top-width: 0;
  border-bottom-style: solid;
  border-color: transparent transparent #fefefe;
  position: relative;
  top: 0.4em;
  display: block;
  float: right;
  margin-left: 1em;
} 
